* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
   width: 100%;
   height: 100%;
   font-family: 'Roboto', sans-serif;
   position: relative;
}
.container {
   max-width: 1000px;
   margin: 0 auto;
}
.input-block {
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 30px 0;
}
.input {
   border: 1px solid black;
   width: 40%;
   padding: 7px;
   font-size: 20px;
}
.keyboard {
   background: #602faf; 
   padding: 60px;
   user-select: none;
}

.keyboard-line {
   margin-top: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.keyboard-btn {
   background: #b39cd0; 
   width: 52px;
   height: 45px;
   font-size: 20px;
   border-radius: 4px;
   margin-left: 7px;
   position: relative;
   box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.67);
}
.change-bg {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #602faf;
}
.change-bg img{
  width: 15px;
  color: white !important;
}

.backspace {
   width: 79px;
}

.upperCase {
   text-transform: uppercase;
}
.caps .caps-circle-active {
   background: rgb(68, 200, 68);
}
.active {
   display: flex !important;
}
.caps {
   width: 90px;
   background: #b39cd0;
   height: 45px;
   font-size: 20px;
   border-radius: 4px;
   margin-left: 5px;
   position: relative;
   box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.67)
}
.caps-circle {
   width: 5px;
   height: 5px;
   background: rgb(129, 122, 122);
   border-radius: 50%;
   position: absolute;
   right: 8px;
   top: 8px;
}
.enter {
   width: 90px;
   background: #b39cd0;
   height: 45px;
   font-size: 20px;
   border-radius: 4px;
   margin-left: 5px;
   position: relative;
   box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.67);
}

.ok-btn {
   background: #9275b6;
   width: 70px;
   height: 45px;
   display: flex; justify-content: center; align-items: center;
}
.ok-btn img {
   width: 25px;
}
.circle {
   width: 30px;
   height: 30px;
   background: #8560b3;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}
.circle img {
   width: 20px;
}

.space-btn {
   width: 250px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.space-btn img{
   width: 120px;
   height: 35px;
}

.modal {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgb(3, 0, 0, 0.2);
   font-family: Roboto, sans-serif;
   display: none;
}
.modal-body {
   background: white;
   width: 35%;
   margin: auto;
   padding: 40px;
   border-radius: 5px;
   border: 2px solid black;
   animation: come 1s linear;
}
@keyframes come {
   from {opacity: 0;}
   to {opacity: 1;}
   }
.modal-title {
   font-size: 33px;
   text-align: center;
   margin-bottom: 20px;
}
.message-text {
   font-size: 20px;
}


